.weather-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(155, 155, 155, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
div.weather > img {
    width: 120px;
    margin: 0;
    margin-top: -30px;
  }
.weather-container-middle {
    display: grid;
    margin: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

p.weather-temp {
    margin: 0;
    font-size: 2.7rem;
    text-align: center;
  }
  
  p.weather-temp_max,
  p.weather-temp_min {
    margin: 0;
  }
  div.weather-container-temp_max_min {
    padding-left: 0.5em;
    text-align: right;
  }
  div.line {
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px #474747;
  }
  p.weather-temp_max > span,
  p.weather-temp_min > span {
    font-size: 2.5em;
  }
  div.weather-container-bottom {
    width: 100%;
    background: rgb(138, 143, 145);
    border-radius: 0 0 10px 10px;
  }
  p.weather-feels_like-temp {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
p.weather-city {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
    margin-right: 1em;
    font-size: 1.2rem;
  }